<div class="site-sec__main-service-item page-aside no-whitespace">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Kartu Nama</span><span class="site-item__size">Cetak</span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Paper 210gr</span><span class="site-item__size">1 Muka</span><span class="site-item__price">Rp.35rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Paper 260gr</span><span class="site-item__size">1 Muka</span><span class="site-item__price">Rp.45rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Paper 310gr</span><span class="site-item__size">1 Muka</span><span class="site-item__price">Rp.55rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Carton 210gr</span><span class="site-item__size">1 Muka</span><span class="site-item__price">Rp.40rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Carton 260gr</span><span class="site-item__size">1 Muka</span><span class="site-item__price">Rp.55rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Carton 310gr</span><span class="site-item__size">1 Muka</span><span class="site-item__price">Rp.60rb</span>
        </li>
    </ul>
</div>
<div class="site-sec__main-service-item page-aside">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Kartu Nama</span><span class="site-item__size">Cetak</span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Paper 210gr</span><span class="site-item__size">2 Muka</span><span class="site-item__price">Rp.50rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Paper 260gr</span><span class="site-item__size">2 Muka</span><span class="site-item__price">Rp.60rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Paper 310gr</span><span class="site-item__size">2 Muka</span><span class="site-item__price">Rp.70rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Carton 210gr</span><span class="site-item__size">2 Muka</span><span class="site-item__price">Rp.55rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Carton 260gr</span><span class="site-item__size">2 Muka</span><span class="site-item__price">Rp.65rb</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Carton 310gr</span><span class="site-item__size">2 Muka</span><span class="site-item__price">Rp.75rb</span>
        </li>
    </ul>
</div>
