<div class="site-sec__main-service-item page-aside">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">5 &times; 25</span><span class="site-item__price">Rp.35</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">6 &times; 25</span><span class="site-item__price">Rp.45</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">8 &times; 13</span><span class="site-item__price">Rp.35</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">10 &times; 15</span><span class="site-item__price">Rp.45</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">12 &times; 18</span><span class="site-item__price">Rp.55</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">14 &times; 20</span><span class="site-item__price">Rp.110</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">20 &times; 30</span><span class="site-item__price">Rp.190</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Kantong</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.270</span>
        </li>
    </ul>
</div>
<div class="site-sec__main-service-item page-aside">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">10 &times; 15</span><span class="site-item__price">Rp.110</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">12 &times; 20</span><span class="site-item__price">Rp.120</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">14 &times; 20</span><span class="site-item__price">Rp.130</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">15 &times; 21</span><span class="site-item__price">Rp.150</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">13 &times; 25</span><span class="site-item__price">Rp.180</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">15 &times; 25</span><span class="site-item__price">Rp.200</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">16 &times; 30</span><span class="site-item__price">Rp.250</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">PP Tebal</span><span class="site-item__size">17 &times; 30</span><span class="site-item__price">Rp.300</span>
        </li>
    </ul>
</div>
