<div class="site-sec__main-service-item page-aside no-whitespace">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">8 &times; 10</span><span class="site-item__price">Rp.30</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">8 &times; 12</span><span class="site-item__price">Rp.35</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">8 &times; 15</span><span class="site-item__price">Rp.45</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">10 &times; 10</span><span class="site-item__price">Rp.35</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">10 &times; 12</span><span class="site-item__price">Rp.40</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">10 &times; 15</span><span class="site-item__price">Rp.50</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">12 &times; 12</span><span class="site-item__price">Rp.45</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">12 &times; 16</span><span class="site-item__price">Rp.55</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">12 &times; 22</span><span class="site-item__price">Rp.70</span>
        </li>
    </ul>
</div>
<div class="site-sec__main-service-item page-aside">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">14 &times; 16</span><span class="site-item__price">Rp.65</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">14 &times; 22</span><span class="site-item__price">Rp.80</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">14 &times; 25</span><span class="site-item__price">Rp.90</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">16 &times; 25</span><span class="site-item__price">Rp.110</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">18 &times; 25</span><span class="site-item__price">Rp.120</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">20 &times; 25</span><span class="site-item__price">Rp.130</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.215</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">28 &times; 35</span><span class="site-item__price">Rp.225</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Seal</span><span class="site-item__size">30 &times; 35</span><span class="site-item__price">Rp.240</span>
        </li>
    </ul>
</div>
