<div class="site-sec__main-service-item page-aside no-whitespace">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran</span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kresek</span><span class="site-item__size">15 &times; 22</span><span class="site-item__price">Rp.200</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kresek</span><span class="site-item__size">21 &times; 35</span><span class="site-item__price">Rp.300</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kresek</span><span class="site-item__size">28 &times; 42</span><span class="site-item__price">Rp.400</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kresek</span><span class="site-item__size">35 &times; 50</span><span class="site-item__price">Rp.650</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kresek</span><span class="site-item__size">40 &times; 60</span><span class="site-item__price">Rp.850</span>
        </li>
    </ul>
</div>
<div class="site-sec__main-service-item page-aside">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran</span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Duduk</span><span class="site-item__size">11 &times; 25</span><span class="site-item__price">Rp.110</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Duduk</span><span class="site-item__size">12 &times; 25</span><span class="site-item__price">Rp.120</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Duduk</span><span class="site-item__size">13 &times; 30</span><span class="site-item__price">Rp.150</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Duduk</span><span class="site-item__size">15 &times; 30</span><span class="site-item__price">Rp.180</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">OPP Duduk</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.300</span>
        </li>
    </ul>
</div>
