<div class="site-sec__main-service-item page-aside no-whitespace">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Stiker</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kromo</span><span class="site-item__size">3 &times; 3</span><span class="site-item__price">Rp.175</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kromo</span><span class="site-item__size">4 &times; 4</span><span class="site-item__price">Rp.225</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kromo</span><span class="site-item__size">5 &times; 5</span><span class="site-item__price">Rp.300</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kromo</span><span class="site-item__size">6 &times; 6</span><span class="site-item__price">Rp.425</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Kromo</span><span class="site-item__size">7 &times; 7</span><span class="site-item__price">Rp.500</span>
        </li>
    </ul>
</div>
<div class="site-sec__main-service-item page-aside">
    <ul class="site-service__price page-nolist">
        <li class="site-price__item site-price__head page-column">
            <span class="site-item__type">Stiker</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Vinyl</span><span class="site-item__size">3 &times; 3</span><span class="site-item__price">Rp.225</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Vinyl</span><span class="site-item__size">4 &times; 4</span><span class="site-item__price">Rp.300</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Vinyl</span><span class="site-item__size">5 &times; 5</span><span class="site-item__price">Rp.425</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Vinyl</span><span class="site-item__size">6 &times; 6</span><span class="site-item__price">Rp.500</span>
        </li>
        <li class="site-price__item page-column">
            <span class="site-item__type">Vinyl</span><span class="site-item__size">7 &times; 7</span><span class="site-item__price">Rp.675</span>
        </li>
    </ul>
</div>
