<footer id="kontak" class="page-footer">
    <section class="site-sec__foot-contact page-wrapper">
        <p>Telepon: (0271)-742287.</p>
        <p>LINE ID: Kursif (tanpa @).</p>
        <p>WA/SMS: 085-842-545859.</p>
        <p>Email: halo@tertanda.com.</p>
    </section>
    <section class="site-sec__foot-address page-wrapper">
        <p>Jl. Dr. Rajiman No. 414, Surakarta,</p>
        <p>57149, Jawa Tengah, Indonesia.</p>
        <p>Kursif adalah bagian <a href="http://tertanda.com" title="Tertanda" target="_blank">Tertanda</a>.</p>
        <p>&copy;2016–2017 Tertanda, Kursif.</p>
    </section>
</footer>