<footer id="kontak" class="page-footer">
    <section class="site-sec__foot-contact page-wrapper">
        <p>Telepon: (0271)-742287.</p>
        <p>LINE ID: Kursif (tanpa @).</p>
        <p>WA/SMS: 085-842-545859.</p>
        <p>Email: halo@tertanda.com.</p>
    </section>
    <section class="site-sec__foot-address page-wrapper">
        <p>Jl. Dr. Rajiman No. 414, SOC,</p>
        <p>57149, Jawa Tengah, Indonesia.</p>
        <p>Disusun &amp; dirancang oleh <a href="http://tertanda.com" title="Studio Simfoni" target="_blank">Simfoni</a>.</p>
        <p>&copy;2016&ndash;2017 Ttd, Kursif. &ndash; <a href="mailto:halo@tertanda.com" title="Kirim Pesan">Kirim Pesan</a></p>
    </section>
</footer>
