<section class="site-sec__main-page">
    <div class="page-wrapper page-column">
        <h3>Daftar Harga</h3>
        <p class="site-sec__value">Ukuran tidak ada? Hubungi kami.</p>
        <h4>Daftar Harga Stiker</h4>
        <p class="site-value__desc">Harga yang tertulis sudah termasuk biaya cetak stiker <em>full color</em> dan potong sesuai bentuk. Jika ukuran yang Anda cari tidak ada, hubungi kami.</p>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Stiker</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kromo</span><span class="site-item__size">3 &times; 3</span><span class="site-item__price">Rp.175</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kromo</span><span class="site-item__size">4 &times; 4</span><span class="site-item__price">Rp.225</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kromo</span><span class="site-item__size">5 &times; 5</span><span class="site-item__price">Rp.300</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kromo</span><span class="site-item__size">6 &times; 6</span><span class="site-item__price">Rp.425</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kromo</span><span class="site-item__size">7 &times; 7</span><span class="site-item__price">Rp.500</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Stiker</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Vinyl</span><span class="site-item__size">3 &times; 3</span><span class="site-item__price">Rp.225</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Vinyl</span><span class="site-item__size">4 &times; 4</span><span class="site-item__price">Rp.300</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Vinyl</span><span class="site-item__size">5 &times; 5</span><span class="site-item__price">Rp.425</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Vinyl</span><span class="site-item__size">6 &times; 6</span><span class="site-item__price">Rp.500</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Vinyl</span><span class="site-item__size">7 &times; 7</span><span class="site-item__price">Rp.675</span>
                </li>
            </ul>
        </div>
        <h4>Daftar Harga Plastik</h4>
        <p class="site-value__desc">Harga yang tertulis belum termasuk biaya cetak, tetapi hanya harga plastik per lembar. Jika ukuran yang Anda cari tidak ada, hubungi kami.</p>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kresek</span><span class="site-item__size">15 &times; 22</span><span class="site-item__price">Rp.200</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kresek</span><span class="site-item__size">21 &times; 35</span><span class="site-item__price">Rp.300</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kresek</span><span class="site-item__size">28 &times; 42</span><span class="site-item__price">Rp.400</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kresek</span><span class="site-item__size">35 &times; 50</span><span class="site-item__price">Rp.650</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Kresek</span><span class="site-item__size">40 &times; 60</span><span class="site-item__price">Rp.850</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Duduk</span><span class="site-item__size">11 &times; 25</span><span class="site-item__price">Rp.135</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Duduk</span><span class="site-item__size">12 &times; 25</span><span class="site-item__price">Rp.150</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Duduk</span><span class="site-item__size">13 &times; 30</span><span class="site-item__price">Rp.175</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Duduk</span><span class="site-item__size">15 &times; 30</span><span class="site-item__price">Rp.200</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Duduk</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.300</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">5 &times; 25</span><span class="site-item__price">Rp.35</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">6 &times; 25</span><span class="site-item__price">Rp.45</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">8 &times; 13</span><span class="site-item__price">Rp.35</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">10 &times; 15</span><span class="site-item__price">Rp.45</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">12 &times; 18</span><span class="site-item__price">Rp.55</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">14 &times; 20</span><span class="site-item__price">Rp.110</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">20 &times; 30</span><span class="site-item__price">Rp.190</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Kantong</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.270</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">10 &times; 15</span><span class="site-item__price">Rp.110</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">12 &times; 20</span><span class="site-item__price">Rp.120</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">14 &times; 20</span><span class="site-item__price">Rp.130</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">15 &times; 21</span><span class="site-item__price">Rp.150</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">13 &times; 25</span><span class="site-item__price">Rp.180</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">15 &times; 25</span><span class="site-item__price">Rp.200</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">16 &times; 30</span><span class="site-item__price">Rp.250</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">PP Tebal</span><span class="site-item__size">17 &times; 30</span><span class="site-item__price">Rp.300</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">8 &times; 10</span><span class="site-item__price">Rp.30</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">8 &times; 12</span><span class="site-item__price">Rp.40</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">8 &times; 15</span><span class="site-item__price">Rp.45</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">10 &times; 10</span><span class="site-item__price">Rp.50</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">10 &times; 12</span><span class="site-item__price">Rp.55</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">10 &times; 15</span><span class="site-item__price">Rp.65</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">12 &times; 12</span><span class="site-item__price">Rp.70</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">12 &times; 16</span><span class="site-item__price">Rp.75</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">12 &times; 22</span><span class="site-item__price">Rp.80</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">15 &times; 15</span><span class="site-item__price">Rp.85</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">14 &times; 22</span><span class="site-item__price">Rp.100</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">14 &times; 25</span><span class="site-item__price">Rp.115</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">16 &times; 25</span><span class="site-item__price">Rp.125</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">18 &times; 25</span><span class="site-item__price">Rp.135</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">20 &times; 25</span><span class="site-item__price">Rp.150</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.215</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">28 &times; 35</span><span class="site-item__price">Rp.250</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">OPP Seal</span><span class="site-item__size">30 &times; 35</span><span class="site-item__price">Rp.300</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Bening</span><span class="site-item__size">15 &times; 24</span><span class="site-item__price">Rp.150</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Bening</span><span class="site-item__size">18 &times; 24</span><span class="site-item__price">Rp.180</span>
                </li>
            </ul>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <ul class="site-service__price page-nolist">
                <li class="site-price__item site-price__head page-column">
                    <span class="site-item__type">Plastik</span><span class="site-item__size">Ukuran<sup></sup></span><span class="site-item__price">Harga</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Warna</span><span class="site-item__size">15 &times; 22</span><span class="site-item__price">Rp.300</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Warna</span><span class="site-item__size">20 &times; 30</span><span class="site-item__price">Rp.400</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Warna</span><span class="site-item__size">25 &times; 35</span><span class="site-item__price">Rp.500</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Warna</span><span class="site-item__size">30 &times; 40</span><span class="site-item__price">Rp.600</span>
                </li>
                <li class="site-price__item page-column">
                    <span class="site-item__type">Plong Warna</span><span class="site-item__size">35 &times; 45</span><span class="site-item__price">Rp.700</span>
                </li>
            </ul>
        </div>
    </div>
</section>
