<section class="site-sec__main-page">
    <div class="page-wrapper page-column">
        <h3>Jenis Layanan</h3>
        <p class="site-sec__value">Kami dapat melakukan ini untuk Anda.</p>
        <div class="site-sec__main-service-item page-aside">
            <a href="#" title="Cetak Kardus Kemasan" class="site-example__link">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*M0M5_lFMu4sW2AjT57VzaA.jpeg" class="site-example__img" alt="">
                <span class="site-example__name">Cetak Kardus Kemasan</span>
            </a>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <a href="#" title="Cetak Paper Bag" class="site-example__link">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*FzR0Q8rFaELrGIJv1SRBxg.jpeg" class="site-example__img" alt="">
                <span class="site-example__name">Cetak Paper Bag</span>
            </a>
        </div>
        <div class="site-sec__main-service-item page-aside no-whitespace">
            <a href="#" title="Cetak Plastik" class="site-example__link">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*jZevTq1wFVURluRZQkdw-w.jpeg" class="site-example__img" alt="">
                <span class="site-example__name">Cetak Plastik</span>
            </a>
        </div>
        <div class="site-sec__main-service-item page-aside">
            <a href="#" title="Cetak Stiker" class="site-example__link">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*MjpxhH8PRUjf3Wrx1ZWhfA.jpeg" class="site-example__img" alt="">
                <span class="site-example__name">Cetak Stiker</span>
            </a>
        </div>
    </div>
</section>