<section class="site-sec__main-page">
    <div class="page-wrapper page-column">
        <h3>Tim Kursif</h3>
        <p class="site-sec__value">Kami membuat sesuatu lebih baik.</p>
        <div class="site-sec__main-value-item page-aside no-whitespace">
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/fit/c/100/100/1*hLifqMnOd_ipxhUxTfi2Gw.jpeg" class="site-team__img" alt="">
            <h4><a href="http://elnino.me" title="El Nino H. Maulana" target="_blank">El Nino H. Maulana</a></h4>
            <p>Product Design Director</p>
        </div>
        <div class="site-sec__main-value-item page-aside">
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*kUp0N5k7jqd6I5tDMG64gQ.png" class="site-team__img" alt="">
            <h4><a href="http://tertanda.com" title="Tim Tertanda" target="_blank">Tim Tertanda</a></h4>
            <p>Designer &amp; Operator</p>
        </div>
    </div>
</section>
