<section class="site-sec__main-page">
    <div class="page-wrapper page-column">
        <h3>Mengapa Kursif?</h3>
        <p class="site-sec__value">Kami memudahkan pekerjaan Anda.</p>
        <div class="site-sec__main-value-item page-aside no-whitespace">
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*e8nI5jRVlgznxGjteS1llA.png" class="site-service__img" alt="">
            <h4>Layanan Lengkap</h4>
            <p>Kami bukan hanya mencetak. Kami dapat membuat desain dengan baik. Jadi jika Anda belum memiliki desain, kami akan membuatkannya untuk Anda. </p>
            <p><a href="{{base.url}}/layanan" title="Lihat Layanan" class="site-btn__base site-btn__secondary">Lihat Layanan</a></p>
        </div>
        <div class="site-sec__main-value-item page-aside">
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://cdn-images-1.medium.com/max/800/1*aGJ3wGvjYZdfT0O6OrxmKQ.png" class="site-service__img" alt="">
            <h4>Proses Mudah</h4>
            <p>Anda hanya perlu menghubungi kami, dan kami akan mengerjakan pesanan Anda. Setelah semua selesai, kami akan mengirimnya; dimana pun lokasi Anda.</p>
            <p><a href="{{base.url}}/layanan" title="Lihat Layanan" class="site-btn__base site-btn__secondary">Lihat Layanan</a></p>
        </div>
    </div>
</section>
