/*
 * FOOTER STARTS
 */
.page-footer {
    background-color: #fff;
    text-align: center;
}

.page-footer p { margin-bottom: 0; }

.site-sec__foot-address { margin-top: 1.25rem; }
/*
 * FOOTER ENDS
 */