/*
 * TYPO STARTS
 */
h1, h2,
h3, h4 {
    font-weight: 400;
    line-height: 1.05;
    margin-bottom: 0.25rem;
    margin-top: 0;
}

h1 { font-size: 2rem; }

h2 { font-size: 1.7411rem; }

h3 { font-size: 1.5157rem; }

h4 { font-size: 1.3195rem; }

blockquote {
    border-left: 0.25rem solid #eaeaea;
    font-style: italic;
    margin: 0 0 1.25rem 0;
    padding: 0 1.195rem;
}

ol,
ul {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 1.125rem 1.195rem;
}

p {
    margin-bottom: 1.125rem;
    margin-top: 0;
}

p:last-of-type { margin-bottom: 0; }

.hanging-quote { text-indent: -0.45rem; }

.img-caption {
    display: block;
    color: #969696;
    font-size: 0.8706rem;
    text-align: center;
}
/*
 * TYPO ENDS
 */